.App {
	text-align: center;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
	min-height: 100vh;
}
.App.light {
	background-color: whitesmoke;
}
.App.dark {
	background-color: darkslategray;
}

.App-link {
	color: #61dafb;
}

.Navbar {
	display: flex;
	align-items: center;
	gap: 2rem;
	height: 70px;
	width: 100vw;
}

.Profile {
	position: relative;
	top: 2rem;
	border: 2px solid black;
	height: 50vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	justify-content: space-evenly;
	max-width: 600px;
	padding: 1rem;
}

.Profile img {
	width: 100px;
}

.articles {
	display: flex;
	/* max-width: 800px; */
	gap: 2rem;
	justify-content: center;
	flex-direction: column;
}

.articles article {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 1rem;
	max-width: 300px;
}
.articles.light article {
	box-shadow: 0 0 5px 2px black;
}
.articles.dark article {
	box-shadow: 0 0 5px 2px rgb(201, 200, 200);
}

.Navbar.dark {
	background-color: black;
	color: whitesmoke;
}
.Navbar.light {
	background-color: rgb(110, 130, 223);
	color: rgb(2, 1, 1);
}

a {
	color: inherit;
}

.articles.light article {
	color: midnightblue;
	background-color: aliceblue;
}
.articles.dark article {
	color: rgb(235, 235, 235);
	background-color: rgb(39, 47, 54);
}

.Profile.dark {
	color: whitesmoke;
	background-color: rgb(62, 57, 95);
}
