@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");

* {
	padding: 0;
	margin: 0;
}
body {
	font-family: "Dancing Script", cursive;
}

h1 {
	text-align: center;
	color: white;
}
main {
	width: 100vw;
	height: 100vh;
	/* background-image: url("https://images.unsplash.com/photo-1621609764095-b32bbe35cf3a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwxfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=800&q=60"); */
	background-image: url("../img/istockphoto-1191658515-170667a.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
