<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1>Create book</h1>

            <hr>

            <form action="/books/create" method="POST">

                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input required type="text" class="form-control" id="title" name="title">
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <input type="text" class="form-control" id="description" name="description">
                </div>

                <div class="mb-3">
                    <label for="name" class="form-label">Author name</label>
                    <input type="text" class="form-control" id="name" name="name">
                </div>

                <div class="mb-3">
                    <label for="lastName" class="form-label">Author lastname</label>
                    <input type="text" class="form-control" id="lastName" name="lastName">
                </div>

                <div class="mb-3">
                    <label for="nationality" class="form-label">Author nationality</label>
                    <input type="text" class="form-control" id="nationality" name="nationality">
                </div>

                <div class="mb-3">
                    <label for="pictureUrl" class="form-label">Author picture</label>
                    <input type="text" class="form-control" id="pictureUrl" name="pictureUrl">
                </div>

                <div class="mb-3">
                    <label for="rating" class="form-label">Rating</label>
                    <input type="number" class="form-control" id="rating" name="rating">
                </div>

                <div class="mb-3">
                    <label for="rating" class="form-label">Latitude</label>
                    <input required type="number" step="any" class="form-control" id="latitude" name="latitude">
                </div>

                 <div class="mb-3">
                    <label for="rating" class="form-label">Longitude</label>
                    <input required type="number" step="any" class="form-control" id="longitude" name="longitude">
                </div>

                <div id="map" style='width: 800px; height: 600px;'></div>


                <button type="submit" class="btn btn-dark">Create new book</button>
                <a href="/" class="btn btn-dark">Go back</a>
            </form>
            <hr>
        </div>
    </div>
</div>

<script src='https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.css' rel='stylesheet' />
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>
<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css" type="text/css">
<script src="/js/create-map.js"></script>